<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>META | Survey</title>
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Font Awesome -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="../assets/dist/css/adminlte.min.css">
<!-- Google Font: Source Sans Pro -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

<link rel="stylesheet" href="../assets/plugins/ionslider/ion.rangeSlider.css">
<link rel="stylesheet" href="../assets/plugins/ionslider/ion.rangeSlider.skinNice.css">

<link rel="stylesheet" href="../assets/dist/css/meta.css">

</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
<!-- Navbar -->
<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Home</a>
    </li>
    </ul>

</nav>
<!-- /.navbar -->

<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-warning elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link bg-primary">
    <img src="../assets/dist/img/AdminLTELogo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: .8">
    <span class="brand-text font-weight-light">META <small>2.0</small></span>
    </a>
    
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="../assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block"><%= user_details.givenName %></a>
                <small><a href="#" class="d-block"><%= user_details.title %></a></small>
            </div>
        </div>
        
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-header">HOME</li>
                <li class="nav-item active">
                    <a href="/" class="nav-link">
                        <i class="nav-icon fa fa-edit"></i>
                        <p>
                        Canteen & Shuttle Survey
                        <% if(canteen_and_shuttle_forms) { %>
                        <span class="badge badge-danger right">2</span>
                        <% } %>
                        </p>
                    </a>
                </li>
                
            </ul>
        </nav>


    </div>
    

</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
        <div class="col-sm-12">
            <h1>Welcome to the Canteen & Shuttle Satisfaction Survey</small></h1>
            <span class="mr-2 text-muted">
                Your feedback is important to us. Please give your rating by moving the <u title="try moving that slidebar below. 👀">slidebar</u> where <u>5 points</u> is the highest.🖐
            </span>
        </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
    <% if(canteen_and_shuttle_forms) { %>
    <!--
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <input type="checkbox" class="form-check-input" name="shuttle_rider" id="shuttle_rider" onclick="displayShuttleForm()"/>
                        <label class="form-check-label" for="shuttle_rider">I use the shuttle services provided by SunPower</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <form id="canteen_and_shuttle_survey">
        <div class="row">
            <!-- Canteen form box -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header no-border bg-info">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Canteen Satisfaction Survey</h3>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <% for(let i=0; i<canteen_form_list.length;i++) { %>
                            <% if(i <= 14){ %>
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="d-flex flex-column">
                                    <div class="col-md-6">
                                        <span class="text"><%= canteen_form_list[i].question %></span>
                                    </div>
                                </p>
                                <p class="text-xl  text-right">
                                    <div class="col-md-6">
                                        <input id="<%= canteen_form_list[i].name %>" type="text" name="<%= canteen_form_list[i].name %>" value="" style="display: none;">
                                    </div>
                                </p>
                            </div>
                            <% } %>
                        <% } %>

                        <% for(let i=0; i<canteen_form_list.length;i++) { %>
                            <% if(i > 14){ %>
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="d-flex flex-column">
                                    <div class="col-md-6">
                                        <span class="text"><%= canteen_form_list[i].question %></span>
                                    </div>
                                </p>
                                <p class="text-xl  text-right">
                                    <div class="col-md-6">
                                        <textarea id="<%= canteen_form_list[i].name %>" type="text" name="<%= canteen_form_list[i].name %>" class="form-control" value=""></textarea>
                                    </div>
                                </p>
                            </div>
                            <% } %>
                        <% } %>
                        
                        
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2 text-muted">
                            
                            </span>
                        </div>
                    </div>
                    
                    <!-- /.card-footer-->
                </div>

            </div>
            <!-- /.card -->

            <!-- Shuttle form box -->
            <div class="col-md-6" id="shuttleForm">
                <div class="card">
                    <div class="card-header no-border bg-warning">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Shuttle Satisfaction Survey (For Shuttle riders only)</h3>
                            <a href="#"></a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="d-flex flex-column">
                                <div class="col-md-6">
                                    <span class="text">Shuttle Route:</span>
                                </div>
                            </p>
                            <p class="text-xl  text-right">
                                <div class="col-md-6">
                                    <select id="shuttle_route" type="text" name="shuttle_route" id="shuttle_route" value="" class="form-control">
                                        <option selected disabled></option>
                                        <% for(let i=0; i<shuttle_route_list.length; i++){ %>
                                            <option value="<%= shuttle_route_list[i] %>"><%= shuttle_route_list[i] %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="d-flex flex-column">
                                <div class="col-md-6">
                                    <span class="text">Shift Schedule</span>
                                </div>
                            </p>
                            <p class="text-xl  text-right">
                                <div class="col-md-6">
                                    <input id="shift" type="text" name="shift" value="<%= user_details.shift %>" disabled  class="form-control">
                                </div>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                            <p class="d-flex flex-column">
                                <div class="col-md-6">
                                    <span class="text">Shuttle/ Bus Marshall (Optional)</span>
                                </div>
                            </p>
                            <p class="text-xl  text-right">
                                <div class="col-md-6">
                                    <input id="shuttle_bus_marshall" type="text" name="shuttle_bus_marshall" value=""  class="form-control">
                                </div>
                            </p>
                        </div>
                        <% for(let i=0; i<shuttle_form_list.length;i++) { %>
                            <% if(i <= 14){ %>
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="d-flex flex-column">
                                    <div class="col-md-6">
                                        <span class="text"><%= shuttle_form_list[i].question %></span>
                                    </div>
                                </p>
                                <p class="text-xl  text-right">
                                    <div class="col-md-6">
                                        <input id="<%= shuttle_form_list[i].name %>" type="text" name="<%= shuttle_form_list[i].name %>" value="" style="display: none;">
                                    </div>
                                </p>
                            </div>
                            <% } %>
                        <% } %>
                        <% for(let i=0; i<shuttle_form_list.length;i++) { %>
                            <% if(i > 14){ %>
                            <div class="d-flex justify-content-between align-items-center border-bottom mb-3">
                                <p class="d-flex flex-column">
                                    <div class="col-md-6">
                                        <span class="text"><%= shuttle_form_list[i].question %></span>
                                    </div>
                                </p>
                                <p class="text-xl  text-right">
                                    <div class="col-md-6">
                                        <textarea id="<%= shuttle_form_list[i].name %>" type="text" name="<%= shuttle_form_list[i].name %>" value="" class="form-control"></textarea>
                                    </div>
                                </p>
                            </div>
                            <% } %>
                        <% } %>
                        
                        <div class="d-flex flex-row justify-content-end">
                            <span class="mr-2 text-muted">
                                
                            </span>
                        </div>
                    </div>
                    
                    <!-- /.card-footer-->
                </div>

            </div>
            <!-- /.card -->      
        </div>  
        <div clas="row">
            <div class="col-md-12">
                <div class="card"">
                    <div class="card-body">
                        <div id='responseDiv'>
                            <!-- response here-->
                        </div>
                        <div id="toHideIfSuccess">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 20px;">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" name="anonymous_submission" id="anonymous_submission" value="Yes"/>
                                        <label class="form-check-label" for="anonymous_submission">I am submitting this survey <u title="adverb: in a way that prevents a person from being identified by name.">anonymously</u> and prefer the use of my shift and department information instead.</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" id="submitsurveyform" class="btn btn-block btn-outline-warning btn-lg">Submit Survey</button>
                                    <p class="text-muted" style="padding-top: 10px;">
                                        By submitting the survey, you accept that HR Services will use your <u title="employee number or shift and department">selected</u> information to track and filter the data for the improvement of our canteen and shuttle services.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <% } else { %>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <p>Oops. You have already completed the survey. Thank you! 🏆 <a href="/logout">logout</a> </p> 
            </div>
        </div>
    </div>
    <% } %>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
    <b>Version</b> 3.0 - kdm
    </div>
    <strong>&copy; 2018-2019 <a href="#">META</a>.</strong> Manufacturing & Engineering Tool App
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- SlimScroll -->
<script src="../assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="../assets/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="../assets/dist/js/adminlte.min.js"></script>

<script src="../assets/plugins/ionslider/ion.rangeSlider.min.js"></script>
<script>
    
    var shuttleForm = document.getElementById("shuttleForm");
    //shuttleForm.style.display = "none";
    

    function displayShuttleForm() {
        // Get the checkbox
        var checkBox = document.getElementById("shuttle_rider");
        // Get the output shuttleForm 
        var shuttleForm = document.getElementById("shuttleForm");

        var shutte_route = document.getElementById("shuttle_route");

        // If the checkbox is checked, display the output text
        if (checkBox.checked == true){
            shuttleForm.style.display = "block";
            shutte_route.required = true;
        } else {
            shuttleForm.style.display = "none";
            shutte_route.required = false;
        }
    }

    <% for(let i=0; i<canteen_form_list.length;i++) { %>
        <% if(i <= 14) { %>
            $('#<%= canteen_form_list[i].name %>').ionRangeSlider({
                min     : 0,
                max     : 5,
                type    : 'single',
                step    : 1,
                postfix : ' points',
                prettify: true,
                hasGrid : false,
                hideMinMax: true
            });  
        <% } %>     
    <% } %>

    <% for(let i=0; i<shuttle_form_list.length;i++) { %>
        <% if(i <= 14) { %>
            $('#<%= shuttle_form_list[i].name %>').ionRangeSlider({
                min     : 0,
                max     : 5,
                type    : 'single',
                step    : 1,
                postfix : ' points',
                prettify: true,
                hasGrid : false,
                hideMinMax: true
            });
        <% } %>
    <% } %>



</script>
<script src="../assets/dist/js/meta_form_submit.js"></script>
</body>
</html>
